/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  color: #595959;
}

.generic_red_buttons {
  background-color: #cd2653;
  color: #fff;
}

.generic_red_buttons:hover {
  background-color: #595959;
  color: #fff;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

/* Navbar */
.navbar {
  padding: 0px;
}

.nav-link, .dropdown-item {
  color: #cd2653;
  font-size: 1.2em;
}

button.navbar-toggler {
  border: none !important;
}

#archie_dog {
  max-height: 3em;
}

.navbar-brand {
  color: #595959;
}

/* Homepage BG Image */
#homepage_bg_image {
  background-image: url(/assets/images/homepage_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.homepage_search_col {
  padding-top: calc(45vh - 86px);
}

/* Footer */
.footer_link_stephens_portfolio {
  color: #595959;
}

.footer_link_stephens_portfolio:hover {
  color: #595959;
}

li {
  list-style: none;
}

.social_media_icons {
  font-size: 3em;
  color: #595959;
}

.social_media_icons:hover {
  font-size: 3em;
  color: #cd2653;
}

