/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  color: #595959;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

/* Navbar */
.nav-link, .dropdown-item {
  color: #cd2653;
}

button.navbar-toggler {
  border: none !important;
}

/* Homepage BG Image */
#homepage_bg_image {
  background-image: url(/assets/images/homepage_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Footer */
.footer_link_stephens_portfolio {
  color: #595959;
}

.footer_link_stephens_portfolio:hover {
  color: #595959;
}