/* Global */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  color: #595959;
  overflow-x: hidden;
}

.generic_red_buttons {
  background-color: #cd2653;
  color: #fff;
}

.generic_red_buttons:hover {
  background-color: #595959;
  color: #fff;
}

.generic_red {
  color: #cd2653
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

/* Navbar */
.navbar {
  padding: 0px;
}

.nav-link, .dropdown-item {
  color: #cd2653;
  font-size: 1.2em;
}

button.navbar-toggler {
  border: none !important;
}

#archie_dog {
  max-height: 3em;
}

.navbar-brand {
  color: #595959;
}

.animate__animated.animate__flipInX {
  --animate-duration: 3s;
}

.navbar {
  opacity: 1;
}

/* Homepage BG Image */
#homepage_bg_image {
  background-image: url(/assets/images/homepage_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#search_content_div {
  padding-top: calc(35vh - 86px);
  max-height: 90vh;
  overflow-y: scroll !important;
}

.homepage_search_col {
  /* padding-top: calc(45vh - 86px); */
  padding-top: min(86px);
}

.animate__animated.animate__rotateInDownLeft {
  --animate-duration: 2s;
}

/* Media query to add bottom margin to buttons on small screens */
@media screen and (max-width: 344px) {
  #go_fishing_search_button {
    margin-bottom: 4px;
  }
}

/* About Us */
#about_us_bg_image {
  background-image: url(/assets/images/about_us_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* #about_us_content_div {
  height: 90vh;
  padding-top: 86px;
} */

/* .about_us_col {
  padding-top: calc(30vh - 86px);
  overflow-y: scroll !important;
} */

.about_us_col {
  max-height: calc(100vh - 10px) !important;
  overflow-y: scroll !important;
  /* backdrop-filter: blur(10px) !important; */
  /* height: 90vh; */
  padding-top: calc(40vh - 86px);
  /* background-color: #cd2653; */
}


.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

/* About us page media query to remove top padding on tablet and below screen sizes */
@media screen and (max-width: 991px) {
  .about_us_col {
    padding-top: 200px;
  }
}

@media screen and (max-width: 769px) {
  .about_us_col {
    padding-top: 86px;
  }
}

/* Gallery */
/* .carousel-item {
  height: 86vh;
} */

/* News Page */
#news_bg_image {
  background-image: url(/assets/images/news_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#news_content_div {
  max-height: 100vh;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.newsfeed_col {
  padding-top: calc(20vh - 86px);
}

.news_h1, .news_label, .news_input, .news_email_notice {
  color: #595959;
}

.newsfeed_col {
  /* margin-top: 86px;
  background-color: #fff;
  opacity: 0.9;
  padding: 10px; */
  margin-top: 86px;
  background-color: rgba(255, 255, 255, .70) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 2px 40px 2px 40px;
  padding: 20px;
}

.news_item {
  margin: 10px 0px 0px 10px;
  background-color: rgba(255, 255, 255, .70) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 2px 40px 2px 40px;
  padding: 20px;
}

.news_item_link_a_tag {
  color: #cd2653;
}

.news_item_link_a_tag:hover {
  color: #595959;
}

/* Best Places For Magnet Fishing */
#best_places_for_magnet_fishing_bg_image {
  background-image: url(/assets/images/best_places_for_magnet_fishing_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.best_places_for_magnet_fishing_col {
  max-height: calc(100vh - 90px);
  /* max-height: 90vh; */
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .75) !important;
  color: #595959 !important;
}

#best_places_for_magnet_fishing_div {
  height: calc(100vh - 80px);
  /* height: 100vh; */
  padding-top: 80px;
}

/* Using Archi Database */
#using_archi_database_bg_image {
  background-image: url(/assets/images/using_archi_database_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#using_archi_database_div {
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.using_archi_database_col {
  max-height: calc(100vh - 90px) !important;
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .50) !important;
  color: #595959 !important;
}

/* Using Old Maps */
#using_old_maps_bg_image {
  background-image: url(/assets/images/using_old_maps_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#using_old_maps_div {
  /* height: calc(100vh - 80px); */
  padding-top: 80px;
}

.using_old_maps_col {
  max-height: calc(100vh - 90px) !important;
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .70) !important;
  color: #595959 !important;
}

/* Best magnets to use */
#best_magnets_to_use_bg_image {
  background-image: url(/assets/images/best_magnets_to_use_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#best_magnets_to_use_div {
  /* height: calc(100vh - 80px); */
  padding-top: 80px;
}

.best_magnets_to_use_col {
  max-height: calc(100vh - 90px) !important;
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .70) !important;
  color: #595959 !important;
}

/* Fishing Tips & Techniques */
#fishing_tips_and_techniques_bg_image {
  background-image: url(/assets/images/fishing_tips_and_techniques_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#fishing_tips_and_techniques_div {
  /* height: calc(100vh - 80px); */
  padding-top: 80px;
}

.fishing_tips_and_techniques_col {
  max-height: calc(100vh - 90px) !important;
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .60) !important;
  color: #595959 !important;
}

/* F.A.Q */
#faq_bg_image {
  background-image: url(/assets/images/faq_bg_image_darkened.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.faq_col {
  max-height: calc(100vh - 100px) !important;
  overflow-y: scroll !important;
  background-color: rgba(0, 0, 0, .20);
  /* backdrop-filter: blur(10px) !important; */
}

#faq_section {
  max-height: 90vh;
  padding-top: 86px;
}

.link:hover {
  color: #cd2653;
}


::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #cd2653;
  border-radius: 0px;
} */

/* ::-webkit-scrollbar-track {
  background: #000;
} */

/* Terms And Conditions */
#t_and_c_bg_image {
  background-image: url(/assets/images/faq_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* .t_and_c_col {
  padding-top: calc(40vh - 86px);
} */

/* Contact Us */
#contact_us_bg_image {
  background-image: url(/assets/images/contact_us_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#contact_us_div {
  padding-top: calc(35vh - 86px);
  max-height: 90vh;
  overflow-y: scroll !important;
  /* height: calc(100vh - 80px); */
  /* padding-top: 80px; */
}

.contact_us_col {
  /* padding-top: calc(40vh - 86px); */
  /* max-height: calc(100vh - 100px) !important;
  overflow-y: scroll !important; */
  padding-top: min(86px);
  background-color: rgba(0, 0, 0, .20);
}

/* Photo Gallery */
.photo-gallery {
  /* background-color:#cd2653; */
  height: 100vh;
  padding-top: 70px;
  overflow-y: scroll !important;
}

/* .photo-gallery p {
  color:#7d8285;
} */

.photo-gallery h2 {
  color: #595959;
}

/* @media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
} */

/* .photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
} */

/* .photo-gallery .intro p {
  margin-bottom:0;
} */

/* .photo-gallery .photos {
  padding-bottom: 200px;
} */

/* .photo-gallery .item {
  padding-bottom:30px;
} */

.gallery_image {
  transition: transform .3s;
}

.gallery_image:hover {
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03); 
}

/* Subscribe Page */
#subscribe_bg_image {
  background-image: url(/assets/images/subscribe_bg_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#subscribe_section {
  height: 100vh;
  padding-top: 86px;
}

.subscribe_col {
  max-height: calc(100vh - 100px) !important;
  overflow-y: scroll !important;
  background-color: rgba(255, 255, 255, .7) !important;
  backdrop-filter: blur(10px) !important;
  height: 90vh;
  padding-top: calc(15vh - 86px);
}

.subscribe_th {
  background-color: transparent !important;
  color: #595959;
}

/* Subscribe page media query to remove top padding on tablet and below screen sizes */
@media screen and (max-width: 1399px) {
  .subscribe_col {
    padding-top: calc(10vh - 86px);
  }
}

@media screen and (max-width: 769px) {
  .subscribe_col {
    padding-top: 0px;
  }
}

table {
  color: #595959 !important;
}

/* Footer */
.footer_link_stephens_portfolio {
  color: #cd2653;
}

.footer_link_stephens_portfolio:hover {
  color: #595959;
}

li {
  list-style: none;
}

/* Back to top button css & media queries */
#to_the_top_button {
  border: none !important;
  color: #cd2653 !important;
}

#to_the_top_button:hover {
  color: #595959 !important;
  border: none !important;
}

@media screen and (max-width: 991px) {
  #to_the_top_button {
    display: none;
  }
}

#to_the_top_button_mobile {
  color: #cd2653 !important;
  border: none !important;
}

@media screen and (min-width: 992px) {
  #to_the_top_button_mobile {
    display: none;
  }
}

.social_media_icons {
  font-size: 3em;
  color: #595959;
}

.social_media_icons:hover {
  font-size: 3em;
  color: #cd2653;
}

/* Footer media query to reduce top & bottom padding on tablet and below screen sizes */
@media screen and (max-width: 769px) {
  .footer {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}

/* Search results */
.search_result_map_img {
  max-width: 4.5em;
  max-height: 4em;
}

thead {
  background-color: #cd2653;
  color: #fff;
}

.search_results_banner {
  background-color: #cd2653;
  color: #fff;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: bold;
}

.search_results_link:hover {
  color: #595959;
}

/* .search_results_col {
  padding-top: calc(20vh - 86px);
} */

.search_results_col {
  /* margin-top: 86px;
  background-color: #fff;
  opacity: 0.9;
  padding: 10px; */
  margin-top: 86px;
  background-color: rgba(255, 255, 255, .70) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 2px 40px 2px 40px;
  /* padding: 20px; */
}

/* Customer Links Page */
ol li a:hover {
  color: #cd2653 !important;
}